/********** 
  18. FAQ Section Styles
**********/
.faq {
  position: relative;
  padding: $base-padding * 4.5 0 $base-padding * 8;
  background: $color-gray;
  .shape-carve-top {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    @include media-breakpoint-down-lg {
      top: -40px;
    }
    @include media-breakpoint-down-md {
      top: -35px;
    }
    svg {
      width: 100%;
      path {
        fill: $color-gray;
      }
    }
  }
}
