<!-- 
  ################
  About Section Area -->
<section class="about">
  <div class="shape-carve-top">
    <svg width="1900" height="32" viewBox="0 0 1900 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 14.8644C739.5 -34.7681 1085 69.0549 1900 14.8644" stroke="#E9E9E9"/>
    </svg>      
  </div>
  <div class="shape-carve-bottom">
    <svg width="1900" height="32" viewBox="0 0 1900 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1900 17.1392C1160.5 66.7718 815 -37.0511 -6.22469e-05 17.1394" stroke="#E9E9E9"/>
    </svg>      
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card about-item">
          <div class="card-icon about-item-icon">
            <img src="../images/about/about-icon-one.svg" alt="about-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Simple for everyone</h4>
            <p class="card-text">Searching through endless e-mail replies and files has come to an end.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card about-item active">
          <div class="card-icon about-item-icon">
            <img src="../images/about/about-icon-two.svg" alt="about-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Save your time</h4>
            <p class="card-text">Acquiring a new customer costs 5x more than retaining an existing one.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card about-item">
          <div class="card-icon about-item-icon">
            <img src="../images/about/about-icon-three.svg" alt="about-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Fast collaboration</h4>
            <p class="card-text">From sign-ups and purchases to cart abandonment and page views
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="Learn-more mt-lg-11 mt-5 mb-lg-5 mb-md-5 d-flex align-items-center justify-content-center">
          <a href="feature.html" class="">
            Learn more about feature
            <i class="ph-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>