<!-- 
  ########################## 
  Feature Blogs Area -->
<section class="blog blog-featured pb-6 position-relative">
  <div class="container">
    <div class="row gx-4">
      <div class="col-xl-9 col-lg-8 col-md-12">
        <article class="blog-post">
          <div class="blog-post-thumb ">
            <img src="images/blog/feature-blog.png" alt="Feature blog thumb">
          </div>
          <div class="blog-post-body">
            <h2 class="blog-post-title blog-post-title-featured">
              <a href="blog-single.html">Introduce your team with Elementor Team Members Widget</a> 
            </h2>
            <p class="blog-post-text blog-post-text-featured">
              Your business' cybersecurity is paramount, especially in the wake of ....
            </p>
          </div>
          <div class="blog-post-author ">
            <div class="blog-post-author-thumb">
              <img src="images/blog/user.png" alt="Author thumb">
            </div>
            <div class="blog-post-author-info">
              <h3>Latania Lara</h3>
              <p>Engineering Manager</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-xl-3 col-lg-4 d-none d-lg-block">
        <article class="blog-post mb-6">
          <div class="blog-post-thumb blog-post-thumb-aside">
            <img src="images/blog/aside-feature-1.png" alt="aside-feature-1">
          </div>
          <div class="blog-post-body">
            <h2 class="blog-post-title blog-post-title-aside">
              <a href="blog-single.html">Boost Visitor Engagement: Social Media Widgets for Elementor</a>
            </h2>
          </div>
        </article>
        <article class="blog-post mb-6">
          <div class="blog-post-thumb">
            <img src="images/blog/aside-feature-2.png" alt="aside-feature-2">
          </div>
          <div class="blog-post-body">
            <h2 class="blog-post-title blog-post-title-aside">
              <a href="blog-single.html">Boost Visitor Engagement: Social Media Widgets for Elementor</a>
            </h2>
          </div>
        </article>
        <article class="blog-post mb-6">
          <div class="blog-post-thumb">
            <img src="images/blog/aside-feature-3.png" alt="aside-feature-3">
          </div>
          <div class="blog-post-body">
            <h2 class="blog-post-title blog-post-title-aside">
              <a href="blog-single.html">Boost Visitor Engagement: Social Media Widgets for Elementor</a>
            </h2>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>