<!--
  #############
  Download-->
<section class="download @@padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>Let’s start saving time <br>
            on your next project</h2>
          <div class="shape">
            <img src="../images/access/shap.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-11 mx-auto">
        <div class="download-items">
          
          <div class="card download-item">
            <div class="shape">
              <img src="../images/download/Aroow.svg" alt="svg">
            </div>
            <h5 class="card-title">
              <span><img src="../images/download/web-icon.svg" alt="svg"></span>
              Ready to start your project?
            </h5>
            <p class="card-text">StaticSoft is the only hand-off tool that comes with awesome features.</p>
            <div class="card-body">
              <form action="#" class="">
                <div class="from-group">
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Your email address">
                    <div class="submit">
                      <a href="#" class="btn btn-sm btn-primary" type="submit">
                        Start now
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card download-item">
            <h5 class="card-title">
              <span><img src="../images/download/desktop-icon.svg" alt="svg"></span>
              Download for Window & Mac
            </h5>
            <p class="card-text">
              Already saw a demo? Download StaticSoft directly in your desktop</p>
            <div class="card-body">
              <form action="#" class="">
                <div class="from-group">
                  <div class="input-group">
                    <div class="submit">
                      <a href="#" class="btn btn-sm btn-primary" type="submit">
                        Download for Window / Mac
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>