<!--
  #############
  Navigation Footer Section-->
<footer class="footer pb-sm-7 pb-5" id="footer">
  <div class="container-fluid">
    <div class="footer-wrapper">
      <!--Navigation Top Footer area-->
      <div class="row">
        <!-- Navigation Footer Logo -->
        <div class="col-12 col-lg-4 me-auto">
          <div class="footer-logo">
            <a href="index.html" class="">
              <img src="images/logo.svg" alt="logo">
            </a>
            <p class="text-secondary-light mb-0 "> Copyright <span id="copyrightYear"></span> StaticMania, All rights
              reserved!</p>
          </div>
        </div>
        <!--Navigation Footer Logo-->

        <!--Navigation Footer Cols-->
        <div class=" col-6 col-md-3 col-lg-2">
          <div class="footer-widget ">
            <h6 class="">Organization</h6>
            <ul class="list-unstyled">
              <li>
                <a href="company.html">About Us</a>
              </li>
              <li>
                <a href="contact"> Contact Us</a>
              </li>
              <li>
                <a href="download">Downloads</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="footer-widget ">
            <h6 class="">Other Link</h6>
            <ul class="list-unstyled">
              <li>
                <a href="feature.html">Company Services</a>
              </li>
              <li>
                <a href="pricing.html"> Exclusive Prices</a>
              </li>
              <li>
                <a href="blog.html">Blogs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="footer-widget">
            <h6 class="">Policies</h6>
            <ul class="list-unstyled">
              <li>
                <a href="privacy.html"> Privacy Policy</a>
              </li>
              <li>
                <a href="terms.html">Terms of Service</a>
              </li>
              <li>
                <a href="404.html">404</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="footer-widget mb-0">
            <h6 class="">Social</h6>
            <ul class="list-unstyled">
              <li>
                <a href="#">Facebook</a>
              </li>
              <li>
                <a href="#">Twitter</a>
              </li>
              <li>
                <a href="#">Lindedin</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--End of Navigation Footer Top Area-->
  </div>
  <!--End of footer Items-->
</footer>
