<!--
  #############
  Pricing Section in Inner Page-->
<section class="pricing-two @@padding">
  <div class="container">
    <div class="pricing-two-shape-one">
      <img src="../images/pricing/pattern-one.svg" alt="svg">
    </div>
    <div class="pricing-two-shape-two">
      <img src="../images/pricing/pattern-two.svg" alt="svg">
    </div>
    <div class="row">
      <div class="col-lg-5 col-xl-4 ms-auto">
        <div class="card pricing-item">
          <p><span>$39 </span>/Month</p>
          <h5 class="card-title">
            Personal
          </h5>
          <p class="card-text">All the basics for landing a great new job getting</p>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check-circle"></i>
                Templated email editor
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Placement perks
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Job search guide
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Unlimited free Guest
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Exclusive access to Beta tools
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Personalized job finder
              </li>
            </ul>
            <div class="link">
              <a href="#" class="btn btn-sm btn-white">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 me-auto">
        <div class="card pricing-item active">
          <p><span>$79 </span>/Month</p>
          <h5 class="card-title">
            Team
          </h5>
          <p class="card-text">All the basics for landing a great new job getting</p>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check-circle"></i>
                Templated email editor
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Placement perks
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Job search guide
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Unlimited free Guest
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Exclusive access to Beta tools
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Personalized job finder
              </li>
            </ul>
            <div class="link">
              <a href="#" class="btn btn-sm btn-white">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>