<!--
  #############
  Pricing Section in HOme Page-->
<section class="pricing @@padding">
  <div class="shape-carve-top">
    <svg  viewBox="0 0 1885 113" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 16.3262C737.5 100.76 1501.5 -47.1237 1900 16.3262V65C1182 177.412 762.5 53.0097 0 65L0 16.3262Z" fill="#F0FEFF"/>
    </svg>      
  </div>
  <div class="shape-carve-bottom">
    <svg viewBox="0 0 1900 113" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1900 96.0747C1162.5 11.641 398.5 159.524 1.42728e-06 96.0745L5.68248e-06 47.4007C718 -65.0109 1137.5 59.3911 1900 47.4009L1900 96.0747Z" fill="#F0FEFF"/>
    </svg>
  </div>
  <div class="container">
    <div class="pricing-shape-one">
      <img src="../images/pricing/pattern-one.svg" alt="svg">
    </div>
    <div class="pricing-shape-two">
      <img src="../images/pricing/pattern-two.svg" alt="svg">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>We are happy to give you <br> flexible pricing</h2>
          <div class="shape">
            <img src="../images/access/shap.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-xl-4 ms-auto">
        <div class="card pricing-item">
          <p class="price"><span>$39 </span>/Month</p>
          <h5 class="card-title">
            Personal
          </h5>
          <p class="card-text">All the basics for landing a great new job getting</p>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check-circle"></i>
                Templated email editor
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Placement perks
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Job search guide
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Unlimited free Guest
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Exclusive access to Beta tools
              </li>
              <li class="deactive">
                <i class="ph-check-circle"></i>
                Personalized job finder
              </li>
            </ul>
            <div class="link">
              <a href="#" class="btn btn-sm btn-white">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 me-auto">
        <div class="card pricing-item featured">
          <p class="price"><span>$79 </span>/Month</p>
          <h5 class="card-title">
            Team
          </h5>
          <p class="card-text">All the basics for landing a great new job getting</p>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>
                <i class="ph-check-circle"></i>
                Templated email editor
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Placement perks
              </li>
              <li>
                <i class="ph-check-circle"></i>
                Job search guide
              </li>
              <li class="">
                <i class="ph-check-circle"></i>
                Unlimited free Guest
              </li>
              <li class="">
                <i class="ph-check-circle"></i>
                Exclusive access to Beta tools
              </li>
              <li class="">
                <i class="ph-check-circle"></i>
                Personalized job finder
              </li>
            </ul>
            <div class="link">
              <a href="#" class="btn btn-sm btn-white">
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>