/********** 
  2. Button Styles 
**********/
.btn {
  letter-spacing: $base-letter-spacing;
  font-weight: $extbold-font-weight;

  &:hover {
    color: $color-white;
  }

  .btn-check:focus + &,
  &:focus {
    color: $color-white !important;
    outline: 0;
    box-shadow: none;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    color: $color-white !important;
    box-shadow: none;

    &:focus {
      color: $color-white !important;
      box-shadow: none;
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    box-shadow: none;
  }
  @include media-breakpoint-down-sm {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
//
//Over Ride Default Button Styles
//

.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 1rem;
  transition: $base-transition;

  &-primary {
    color: $color-white;
    border: $base-border-width solid transparent;
    background: $color-primary-dark;
    border: $base-border-width solid $color-primary-dark;
    &:hover {
      color: $color-primary;
      background: $color-white;
      border-color:$color-primary;;
    }
    .btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: $color-white !important;
      background: $color-primary !important;
      border: $base-border-width solid transparent;
    }
  }
  &-secondary {
    position: relative;
    color: $color-primary;
    text-align: center;
    text-transform: capitalize;
    background: $color-white;
    border: $base-border-width solid $color-primary;
    transition: 0.3s all ease-in-out;
    padding: 1rem 1.9rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 10px;
      transition: 0.3s all ease-in-out;
      path {
        transition: 0.3s all ease-in-out;
        fill: $color-primary;
      }
    }

    &:hover {
      border: $base-border-width solid $color-primary;
      background: $color-primary;
      color: $color-white;
      svg {
        path {
          fill: $color-white;
        }
      }
    }
    btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: $color-white !important;
      background: $color-primary;
      border: $base-border-width solid $color-primary;
      svg {
        path {
          fill: $color-white;
        }
      }
    }
  }

  &-links {
    background: $color-white;
    color: $color-primary-dark;
    border: $base-border-width solid $color-primary-dark;
    position: relative;
    &:hover {
      background: $color-primary-dark;
      border: $base-border-width solid $color-primary-dark;
      color: $color-white;
    }
    .btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: $color-primary-dark !important;
      background: none;
      border: $base-border-width solid $color-primary-dark;
    }
  }
  &-white {
    background: $color-white;
    color: $color-primary-dark;
    border: $base-border-width solid $color-primary-dark;
    position: relative;
    &:hover {
      background: $color-primary-dark;
      border: $base-border-width solid $color-primary-dark;
      color: $color-white;
    }
    .btn-check:focus + &,
    &:focus,
    &:active,
    &:active:focus,
    &:hover:focus {
      color: $color-white !important;
      background: $color-primary-dark;
      border: $base-border-width solid $color-primary-dark;
    }
  }
}

// Button Sizes
//

.btn-lg, .btn-group-lg > .btn {
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 50rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.9rem 1.9rem;
  font-size: 0.9rem;
  border-radius: 50rem;
}
.btn-link {
  text-decoration: underline;
  &:hover {
    color: $color-primary;
  }
}

/* button label Styles */
.btn-label {
  padding: $base-padding * 0.875 $base-padding * 1.25;
  background: rgba(255, 255, 255, 0.2);
  border:  1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  line-height: 1.45 !important;
  font-weight: $extbold-font-weight !important;
  font-size:  $base-font-size * 0.875 !important;
  width: auto;
}
.btn-submit {
  background: $color-white;
  color: $color-primary;
  line-height: 1.6;
  font-size: $base-font-size * 0.875;
  //font-weight: $font-weight-extbold;
  padding: $base-padding * 1.25 $base-padding * 2.125 !important;
  &:active,
  &:focus,
  &:hover,
  &:checked + .btn:focus,
  &:active + .btn:focus,
  &:active:focus {
    background: rgba(255, 255, 255, 0.8);
    color: $color-primary !important;
  }
}
.btn-social {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: $color-white;
  padding: $base-padding * 1.25 $base-padding * 1.5 !important;
  svg {
    margin-right: $base-margin * 0.5;
  }
  &:active,
  &:focus,
  &:hover {
    background: transparent;
    color: $color-white !important;
  }
}
