//Import fonts from https://fonts.google.com/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
// Font Variables
$font-primary: "Inter", sans-serif;
$font-secondary: "Playfair Display", sans-serif;
$base-font-size: 1rem;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;
$extbold-font-weight: 800;
$base-letter-spacing: 0.5px;

//Colors Variables
$color-white : #fff;
$color-black: #000;
$color-gray: #fcfcfc;
$color-primary: #1fadad;
$color-primary-light: #4cbdbd;
$color-primary-dark: #01a8b1;
$color-secondary: #f0feff;
$color-secondary-dark: #d9f2f6;

$color-header: #000;
$color-text: #282c33;
$color-text-light: #1f253b;

// Spacer Variables
$base-padding: 1rem;
$base-margin: 1rem;

// Transition Variables
$base-transition: all 0.5s ease-in-out;

//Others Varibles
$base-border-width: 1px;
$base-border-radius: 8px;